@use "./_predefined.scss" as *;

.t_center {
	text-align: center !important;
}
.t_left {
	text-align: left !important;
}
.t_right {
	text-align: right !important;
}
.f-left {
	justify-content: left !important;
}
.f-right {
	justify-content: right !important;
}
.f-center {
	justify-content: center !important;
}
.f-column {
	flex-direction: column;
}
.f-row {
	flex-direction: row;
}

.flex {
	&_1 {
		flex: 1;
	}
}
/* 폰트 사이즈 */
.fs12 {
	font-size: 12px !important;
}
.fs13 {
	font-size: 13px !important;
}
.fs14 {
	font-size: 14px !important;
}
.fs15 {
	font-size: 15px !important;
}
.fs16 {
	font-size: 16px !important;
}
.fs17 {
	font-size: 17px !important;
}
.fs18 {
	font-size: 18px !important;
}
.fs19 {
	font-size: 19px !important;
}
.fs20 {
	font-size: 20px !important;
}
.fs22 {
	font-size: 22px !important;
}
.fs24 {
	font-size: 24px !important;
}
.fs26 {
	font-size: 26px !important;
}
.fs28 {
	font-size: 28px !important;
}

.f-c {
	&_primary {
		color: var(--primary-normal) !important;
	}
	&_disabled {
		color: var(--text-disabled) !important;
	}
	&_secondary {
		color: var(--text-secondary) !important;
	}
	&_text_primary {
		color: var(--text-primary) !important;
	}
}

.f {
	&-regular {
		font-weight: 400 !important;
	}
	&-medium {
		font-weight: 500 !important;
	}
	&-semi {
		font-weight: 600 !important;
	}
	&-bold {
		font-weight: 700 !important;
	}
}
.line_h {
	&_34 {
		line-height: 34px !important;
	}
	&_32 {
		line-height: 32px !important;
	}
	&_30 {
		line-height: 30px !important;
	}
	&_28 {
		line-height: 28px !important;
	}
	&_26 {
		line-height: 26px !important;
	}
	&_24 {
		line-height: 24px !important;
	}
	&_22 {
		line-height: 22px !important;
	}
	&_20 {
		line-height: 20px !important;
	}
	&_18 {
		line-height: 18px !important;
	}
	&_16 {
		line-height: 16px !important;
	}
	&_14 {
		line-height: 14px !important;
	}
}
.main_title1 {
	font-size: 28px;
}
.sub_title1 {
	font-size: 24px;
}
.sub_title2 {
	font-size: 20px;
}
.sub_title3 {
	font-size: 18px;
}
.sub_title4 {
	font-size: 16px;
	font-weight: 400;
}
.flexCont {
	display: flex;
	align-items: center;
	&.aCenter {
		align-items: center;
	}
	&.center {
		justify-content: center;
	}
	&.gap4 {
		gap: 4px;
	}
	&.gap10 {
		gap: 10px;
	}
	&.colum {
		flex-direction: column;
	}
	&.left {
		align-items: flex-start;
		justify-content: flex-start;
	}
	&.bottom {
		align-items: flex-end !important;
	}
	&.top {
		align-items: flex-start;
	}
}

.gap {
	&16 {
		gap: 16px !important;
	}
	&20 {
		gap: 20px !important;
	}
	&24 {
		gap: 24px !important;
	}
	&28 {
		gap: 28px !important;
	}
	&32 {
		gap: 32px !important;
	}
}

.gap-row {
	&4 {
		row-gap: 4px !important;
	}
	&8 {
		row-gap: 8px !important;
	}
	&12 {
		row-gap: 12px !important;
	}
	&16 {
		row-gap: 16px !important;
	}
	&20 {
		row-gap: 20px !important;
	}
	&24 {
		row-gap: 24px !important;
	}
	&28 {
		row-gap: 28px !important;
	}
	&32 {
		row-gap: 32px !important;
	}
}

.gap-col {
	&4 {
		column-gap: 4px !important;
	}
	&8 {
		column-gap: 8px !important;
	}
	&12 {
		column-gap: 12px !important;
	}
	&16 {
		column-gap: 16px !important;
	}
	&20 {
		column-gap: 20px !important;
	}
	&24 {
		column-gap: 24px !important;
	}
	&28 {
		column-gap: 28px !important;
	}
	&32 {
		column-gap: 32px !important;
	}
}


//상태 뱃지 클래스
.badge {
	display: flex;
	padding: 3px 6px;
	font-size: 13px;
	word-spacing: -0.01em;
	@include semi;
	@include radius(3px);
	margin: 0 auto;
	line-height: 16px;
	&.state { // 상태 기본 형식 - 비활성 경우
		width: 52px;
		justify-content: center;
		background-color: var(--mono1);
		color: var(--icon-normal);
		&.status-active { // 활성, 발송완료 경우
			background-color: #e0f5e9;
			color: var(--state-positive);
		}
		&.status-wait { // 발송 대기 경우
			background-color: #ffefdd;
			color: #ff7a2e;
		}
		&.status-failed  { // 발송 실패 경우 
			background-color: #fce5e4;
			color: var(--state-negative);
		}
	}
}

.v_line {
	height: 16px;
	width: 1px;
	display: block;
	background: var(--border-emphasis);
}

.shadow {
	&-large {
		box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.122);
	}
	&-small {
		box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.122);
	}
	&-medium {
		box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.122);
	}
}

.search-result-txt {
	font-size: inherit;
	color: var(--primary-normal);
	@include semi;
}

/* 체크박스 스타일 */

.line {
	width: 100%;
	height: 1px;
	background: #e6e6e6;
	display: inline-flex;

	&.mg24 {
		margin: 24px 0;
	}
}
.comment {
	line-height: 100%;
	@include f_alignCenter;

	&_basic {
		font-size: 14px;
		color: #666;
	}
}
.txtBtn {
	display: inline-flex;
	align-items: center;
	position: relative;
	word-break: break-word;
}
.underLine {
	position: relative;
	text-decoration: underline;
	line-height: 18px;
	&:hover {
		text-decoration: underline;
	}
	&:before {
		@include befo_after;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 1px;
		background: #333;
		display: none;
	}
}

.asterisk {
	width: 4px;
	height: 4px;
	display: inline-flex;
	@include radius(50%);
	background: red;
	position: relative;
	align-items: flex-start;
	top: -6px;
	margin-right: 3px;
}

/* 텍스트 하이라이트 */
.txt_highlight {
	position: relative;

	&:before {
		@include befo_after;
		width: 100%;
		height: 14px;
		background: rgba(255, 186, 165, 0.2);
		left: 0;
		bottom: -2px;
		z-index: -0.5;
	}
}

.hidden {display: none}

.caption {
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	display: block;
}
/* 너비 지정 스타일 */
.w100 {
	width: 100% !important;
}
.w80 {
	width: 80% !important;
}
.w75 {
	width: 75% !important;
}
.w70 {
	width: 70% !important;
}
.w65 {
	width: 65% !important;
}
.w60 {
	width: 60% !important;
}
.w55 {
	width: 55% !important;
}
.w50 {
	width: 50% !important;
}
.w45 {
	width: 45% !important;
}
.w40 {
	width: 40% !important;
}
.w35 {
	width: 35% !important;
}
.w30 {
	width: 30% !important;
}
.w25 {
	width: 25% !important;
}
.w20 {
	width: 20% !important;
}
.w15 {
	width: 15% !important;
}
.w10 {
	width: 10% !important;
}
.w30p {
	width: 30px !important;
}
.w40p {
	width: 40px !important;
}
.w44p {
	width: 44px !important;
}
.w48p {
	width: 48px !important;
}
.w50p {
	width: 50px !important;
}
.w60p {
	width: 60px !important;
}
.w64p {
	width: 64px !important;
}
.w66p {
	width: 66px !important;
}
.w68p {
	width: 68px !important;
}
.w72p {
	width: 72px !important;
}
.w76p {
	width: 76px !important;
}
.w80p {
	width: 80px !important;
}
.w84p {
	width: 84px !important;
}
.w88p {
	width: 88px !important;
}
.w92p {
	width: 92px !important;
}
.w96p {
	width: 96px !important;
}
.w100p {
	width: 100px !important;
}
.w104p {
	width: 104px !important;
}
.w108p {
	width: 108px !important;
}
.w112p {
	width: 112px !important;
}
.w116p {
	width: 116px !important;
}
.w120p {
	width: 120px !important;
}
.w124p {
	width: 124px !important;
}
.w128p {
	width: 128px !important;
}
.w132p {
	width: 132px !important;
}
.w140p {
	width: 140px !important;
}
.w144p {
	width: 144px !important;
}
.w148p {
	width: 148px !important;
}
.w152p {
	width: 152px !important;
}
.w156p {
	width: 156px !important;
}
.w160p {
	width: 160px !important;
}
.w164p {
	width: 164px !important;
}
.w168p {
	width: 168px !important;
}
.w172p {
	width: 172px !important;
}
.w176p {
	width: 176px !important;
}
.w180p {
	width: 180px !important;
}
.w182p {
	width: 182px !important;
}
.w186p {
	width: 186px !important;
}
.w192p {
	width: 192px !important;
}
.w196p {
	width: 192px !important;
}
.w200p {
	width: 200px !important;
}
.w208p {
	width: 208px !important;
}
.w210p {
	width: 210px !important;
}
.w212p {
	width: 212px !important;
}
.w216p {
	width: 216px !important;
}
.w220p {
	width: 220px !important;
}
.w232p {
	width: 232px !important;
}
.w236p {
	width: 236px !important;
}
.w240p {
	width: 240px !important;
}
.w244p {
	width: 244px !important;
}
.w248p {
	width: 248px !important;
}
.w260p {
	width: 260px !important;
}
.w264p {
	width: 264px !important;
}
.w265p {
	width: 265px !important;
}
.w280p {
	width: 280px !important;
}
.w296p {
	width: 296px !important;
}
.w300p {
	width: 300px !important;
}
.w320p {
	width: 320px !important;
}
.w328p {
	width: 328px !important;
}
.w340p {
	width: 340px !important;
}
.w360p {
	width: 360px !important;
}
.w364p {
	width: 364px !important;
}
.w368p {
	width: 368px !important;
}
.w380p {
	width: 380px !important;
}
.w400p {
	width: 400px !important;
}
.w420p {
	width: 420px !important;
}
.w440p {
	width: 440px !important;
}
.w450p {
	width: 450px !important;
}
.w470p {
	width: 470px !important;
}
.w480p {
	width: 480px !important;
}
.w488p {
	width: 488px !important;
}
.w490p {
	width: 492px !important;
}
.w500p {
	width: 500px !important;
}
.w550p {
	width: 500px !important;
}
.w600p {
	width: 600px !important;
}
.w640p {
	width: 640px !important;
}
.w720p {
	width: 720px !important;
}
.w768p {
	width: 768px !important;
}
.w784p {
	width: 784px !important;
}
.h100 {
	height: 100% !important;
}
.h8p {
	height: 8px !important;
}
.h12p {
	height: 12px !important;
}
.h16p {
	height: 16px !important;
}
.h20p {
	height: 20px !important;
}
.h24p {
	height: 24px !important;
}
.h26p {
	height: 26px !important;
}
.h28p {
	height: 28px !important;
}
.h32p {
	height: 32px !important;
}
.h36p {
	height: 36px !important;
}
.h40p {
	height: 40px !important;
}
.h42p {
	height: 42px !important;
}
.h44p {
	height: 44px !important;
}
.h48p {
	height: 48px !important;
}
.h52p {
	height: 52px !important;
}
.h56p {
	height: 56px !important;
}
.h60p {
	height: 60px !important;
}
.h64p {
	height: 64px !important;
}
.h68p {
	height: 68px !important;
}
.h72p {
	height: 72px !important;
}
.h76p {
	height: 76px !important;
}
.h98p {
	height: 98px !important;
}
.h160p {
	height: 160px !important;
}
.h200p {
	height: 200px !important;
}
.h240p {
	height: 240px !important;
}
.h264p {
	height: 264px !important;
}
.h340p {
	height: 340px !important;
}
.h380p {
	height: 380px !important;
}
.mg0 {
	margin: 0 !important;
}
.mgTAuto {
	margin-top: auto !important;
}
.mgT0 {
	margin-top: 0px !important;
}
.mgT4 {
	margin-top: 4px !important;
}
.mgT8 {
	margin-top: 8px !important;
}
.mgT10 {
	margin-top: 10px !important;
}
.mgT12 {
	margin-top: 12px !important;
}
.mgT16 {
	margin-top: 16px !important;
}
.mgT20 {
	margin-top: 20px !important;
}
.mgT24 {
	margin-top: 24px !important;
}
.mgT28 {
	margin-top: 28px !important;
}
.mgT30 {
	margin-top: 30px !important;
}
.mgT32 {
	margin-top: 32px !important;
}
.mgT36 {
	margin-top: 36px !important;
}
.mgT40 {
	margin-top: 40px !important;
}
.mgT60 {
	margin-top: 60px !important;
}
.mgT72 {
	margin-top: 72px !important;
}
.mgT172 {
	margin-top: 172px !important;
}
.mgB0 {
	margin-bottom: 0px !important;
}
.mgB4 {
	margin-bottom: 4px !important;
}
.mgB8 {
	margin-bottom: 8px !important;
}
.mgB10 {
	margin-bottom: 10px !important;
}
.mgB12 {
	margin-bottom: 12px !important;
}
.mgB16 {
	margin-bottom: 16px !important;
}
.mgB20 {
	margin-bottom: 20px !important;
}
.mgB24 {
	margin-bottom: 24px !important;
}
.mgB28 {
	margin-bottom: 28px !important;
}
.mgB30 {
	margin-bottom: 30px !important;
}
.mgB32 {
	margin-bottom: 32px !important;
}
.mgB36 {
	margin-bottom: 36px !important;
}
.mgB40 {
	margin-bottom: 40px !important;
}
.mgB48 {
	margin-bottom: 48px !important;
}
.mgB52 {
	margin-bottom: 52px !important;
}
.mgR0 {
	margin-right: 0 !important;
}
.mgR2 {
	margin-right: 2px !important;
}
.mgR4 {
	margin-right: 4px !important;
}
.mgR6 {
	margin-right: 6px !important;
}
.mgR8 {
	margin-right: 8px !important;
}
.mgR10 {
	margin-right: 10px !important;
}
.mgR12 {
	margin-right: 12px !important;
}
.mgR16 {
	margin-right: 16px !important;
}
.mgR18 {
	margin-right: 18px !important;
}
.mgR20 {
	margin-right: 20px !important;
}
.mgR24 {
	margin-right: 24px !important;
}
.mgR28 {
	margin-right: 28px !important;
}
.mgR30 {
	margin-right: 30px !important;
}
.mgR32 {
	margin-right: 32px !important;
}
.mgR36 {
	margin-right: 36px !important;
}
.mgR40 {
	margin-right: 40px !important;
}
.mgL0 {
	margin-left: 0 !important;
}
.mgL2 {
	margin-left: 2px !important;
}
.mgL4 {
	margin-left: 4px !important;
}
.mgL8 {
	margin-left: 8px !important;
}
.mgL10 {
	margin-left: 10px !important;
}
.mgL12 {
	margin-left: 12px !important;
}
.mgL16 {
	margin-left: 16px !important;
}
.mgL20 {
	margin-left: 20px !important;
}
.mgL24 {
	margin-left: 24px !important;
}
.mgL28 {
	margin-left: 28px !important;
}
.mgL32 {
	margin-left: 32px !important;
}
.mgL36 {
	margin-left: 36px !important;
}
.mgL40 {
	margin-left: 40px !important;
}
.mgL44 {
	margin-left: 44px !important;
}
.mg20 {
	margin: 20px 0 !important;
}
.mg30 {
	margin: 30px 0 !important;
}
.mgLAuto {
	margin-left: auto !important;
}
.mgRAuto {
	margin-right: auto !important;
}
.pd0 {
	padding: 0 !important;
}
.pdT0 {
	padding-top: 0px !important;
}
.pdT4 {
	padding-top: 4px !important;
}
.pdT8 {
	padding-top: 8px !important;
}
.pdT12 {
	padding-top: 12px !important;
}
.pdT16 {
	padding-top: 16px !important;
}
.pdT20 {
	padding-top: 20px !important;
}
.pdT24 {
	padding-top: 24px !important;
}
.pdT28 {
	padding-top: 28px !important;
}
.pdT32 {
	padding-top: 32px !important;
}
.pdT36 {
	padding-top: 36px !important;
}
.pdT40 {
	padding-top: 40px !important;
}
.pdB0 {
	padding-bottom: 0px !important;
}
.pdB4 {
	padding-bottom: 4px !important;
}
.pdB8 {
	padding-bottom: 8px !important;
}
.pdB12 {
	padding-bottom: 12px !important;
}
.pdB16 {
	padding-bottom: 16px !important;
}
.pdB20 {
	padding-bottom: 20px !important;
}
.pdB24 {
	padding-bottom: 24px !important;
}
.pdB28 {
	padding-bottom: 28px !important;
}
.pdB32 {
	padding-bottom: 32px !important;
}
.pdB36 {
	padding-bottom: 36px !important;
}
.pdB40 {
	padding-bottom: 40px !important;
}
.pdB44 {
	padding-bottom: 44px !important;
}
.pdB48 {
	padding-bottom: 48px !important;
}
.pdB52 {
	padding-bottom: 52px !important;
}
.pdR4 {
	padding-right: 4px !important;
}
.pdR8 {
	padding-right: 8px !important;
}
.pdR10 {
	padding-right: 10px !important;
}
.pdR12 {
	padding-right: 12px !important;
}
.pdR16 {
	padding-right: 16px !important;
}
.pdR20 {
	padding-right: 20px !important;
}
.pdR24 {
	padding-right: 24px !important;
}
.pdR28 {
	padding-right: 28px !important;
}
.pdR32 {
	padding-right: 32px !important;
}
.pdR36 {
	padding-right: 36px !important;
}
.pdR40 {
	padding-right: 40px !important;
}
.pdR48 {
	padding-right: 48px !important;
}
.pdR50 {
	padding-right: 50px !important;
}
.pdR52 {
	padding-right: 52px !important;
}
.pdL4 {
	padding-left: 4px !important;
}
.pdL8 {
	padding-left: 8px !important;
}
.pdL10 {
	padding-left: 10px !important;
}
.pdL12 {
	padding-left: 12px !important;
}
.pdL16 {
	padding-left: 16px !important;
}
.pdL20 {
	padding-left: 20px !important;
}
.pdL24 {
	padding-left: 24px !important;
}
.pdL28 {
	padding-left: 28px !important;
}
.pdL32 {
	padding-left: 32px !important;
}
.pdL36 {
	padding-left: 36px !important;
}
.pdL40 {
	padding-left: 40px !important;
}
.pd20 {
	padding: 20px !important;
}
.pdLR24 {
	padding: 0 24px !important;
}
// Breakpoints
$mobile: 720px;
$tablet: 1100px;
$desktop: 1101px;
