@use "./_predefined.scss" as *;

/* 기본 wrap main */
body, #__nuxt {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100%;
  background: var(--mono0);
  &:has(.login) {
    background: var(--surface-light);
  }
}
