@use "./_predefined.scss" as *;

/* 기본 wrap main */
body, #__nuxt {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100%;
  background: var(--mono0);
  &:has(.login) {
    background: var(--surface-light);
  }
}

.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

#wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  height: calc(100% - 64px);
  margin-left: 280px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.section {
  &-header {
    width: 100%;
    height: 84px;
    border-bottom: 1px solid var(--border-light);
    display: flex;
    justify-content: center;
    .title-area {
      min-width: 1280px;
      height: 100%;
      display: flex;
      align-items: center;
      h1 {
        font-size: 22px;
        color: #14151a;
        word-spacing: -0.01em;
      }
      .title-date {
        margin-left: auto;
        padding-top: 8px;
        font-size: 14px;
        word-spacing: -0.01em;
        color: var(--text-secondary);
      }
    }
  }
  &-content {
    max-width: 1280px;
    flex: 1;
    display: flex;
    padding: 16px 0 28px;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    width: 100%;
  }
  &-dashboard {
    max-width: 1280px;
    flex: 1;
    display: flex;
    padding: 24px 0 40px;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    width: 100%;
  }
}

.content-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  margin-bottom: 16px;
  h2 {
    font-size: 18px;
    color: var(--text-primary);
  }
}
.content-body {
  margin: 36px 0;
}

/* 푸터 영역 */
footer {
  height: 64px;
  width: 100%;
  display: block;
  background-color: var(--surface-light);

  .foot-cont {
    @include flex_center;
    margin: 23px auto 24px;
    gap: 10px;
    span {
      color: var(--text-secondary);
      font-size: 14px;
      word-spacing: -0.01em;
    }
    .v_line {
      height: 12px;
    }
  }

}

.foot {
  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    span {
      color: var(--text-secondary);
      font-size: 14px;
      word-spacing: 1%;
    }
    .v_line {
      height: 12px;
      background: #ccc;
    }
  }
  &-link {
    color: var(--text-secondary);
    font-size: 14px;
    display: inline-flex;
  }
  /* 푸터 회사 정보 */
  &-info {
    display: flex;
    gap: 8px;
  }

}
