@use "../util/predefined.scss" as *;

.preview-progress {
    width: 100%;
    height: size(6);
    background: #d8e4ff;
    overflow: hidden;
}
.progressbar-bar {
    height: 100%;
    width: 20%;
    background: var(--primary);
    border-radius: 0 size(6) size(6) 0;
    transition: width 0.3s;
    &.full {
        border-radius: 0;
    }
}

.preview-step-box[hidden] {
    display: none;
}

.foot-button-box {
    display: flex;
    gap: 8px;
    justify-content: center;
}


.preview-step-box {
    display: flex;
    flex-direction: column;
    height: calc(100% - size(74));
    .preview-step {
        margin: size(40) size(22) 0;
        
        span {
            font-size: size(16);
            line-height: 130%;
            font-weight: 600;
            color: var(--primary);
            outline: none;
        }
    }
    .preview-text {
        margin: size(16) size(20) size(16);
        display: flex;
        flex-direction: column;
        p {
            font-size: size(24);
            line-height: 130%;
            font-weight: 600;
            color: var(--text-primary);
        }
    }
    .preview-img {
        margin-top: auto;
        flex-shrink: 0;
        text-align: center;
        img {
            flex-shrink: 0;
            max-width: 100%;
            aspect-ratio: 360/400;
            object-fit: contain;
            margin: 0 auto;
        }
    }
}

.preview-error-badge {
    padding: size(8) size(10) size(8) size(8);
    border-radius: size(50);
    @include flex-center;
    background-color: #fff;
    width: auto; /* 컨텐츠 크기에 맞게 너비 설정 */
    flex-shrink: 0; /* 줄어들지 않도록 */
    flex-grow: 0; /* 자식 요소 크기 자동 조정 */
    gap: size(6);
    align-self: flex-start; /* 왼쪽 정렬 */
    span {
        font-size: size(14);
        font-weight: 500;
        color: var(--state-error);
        word-spacing: -0.01em;
    }
    margin-left: size(-4);
    margin-bottom: size(8);
}